<div class="comment">

  <%= c.user.email %>
  <%= c.user.username %>
  <p>
    <%= c.body %>
  </p>

  <% if current_user == c.user || current_user.admin? %>
    <%= link_to "Editar Comentario", edit_comment_url(c) %>
    <%= link_to 'Eliminar', comment_path(c), method: :delete, data: { confirm: 'Esta seguro que quiere eliminar este comentario?' } %>
  <% end %>
</div>
