<div class="container">

	<h1>Wall - E</h1>
	<div class="row">
		<div class="col-md-6">
			<div id="comments">
				<%= render partial: 'comments/comment', locals: {comments: @comments}  %>
			</div>
		</div>
		<div class="col-md-6">
			<%= form_for @new_comment, remote: true do |f| %>
			  <div class="form-group">
			    <%= f.label "Escribe un lindo comentario" %>
			    <%= f.text_area :body, class:"form-control" %>
			  </div>
			  <%= f.submit class:"btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
